{% extends "base.html" %}
{% block content %}
<div class="row spacer">
    <div class="span12">
        <h1>Lemon Pie<sup>*</sup><a href="#" class="btn btn-large btn-primary pull-right">Sign up</a></h1>
        <p class="lead">Web mapping services for humans </p>
    </div>
</div>
<!-- ******** HYPESHIZZLE ******* -->
<div id="hypeshizzle" class="row">
    <div id="stories" class="span6">
        <ul class="thumbnails">
          <li class="span2">
            <a href="#" class="thumbnail">
              <img class="imgthumb story1" src="/static/img/story1.jpg" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img class="imgthumb story2" src="/static/img/story2.jpg" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb story3" src="/static/img/story3.jpg" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb story4" src="/static/img/story4.jpg" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb story5" src="/static/img/story5.jpg" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb story6" src="/static/img/story6.jpg" alt="">
            </a>
          </li>
        </ul>
    </div>
    <div class="span6">
    <div id="story1" class="storytext">
        <h1>Real time monitoring and sharing data while at sea was unthinkable before Lemon Pie<sup>*</p></h1>
    </div>
    <div id="story2" class="storytext" style="display:none">
        <h1>We use Lemon Pie<sup>*</sup> to backup and share data from lab experiments</h1>
    </div>
    <div id="story3" class="storytext" style="display:none">
        <h1>Mapping data with Lemon Pie<sup>*</sup> is as easy as dropping a file in Dropbox</h1>
    </div>
    <div id="story4" class="storytext" style="display:none">
        <h1>I know my data is safe with Lemon Pie<sup>*</sup>: my data is in the cloud <em>and</em> on my computer</h1>
    </div>
    <div id="story5" class="storytext" style="display:none">
        <h1>Lemon Pie<sup>*</sup>'s open philosophy keeps me far from vendor lock in</h1>
    </div>
    <div id="story6" class="storytext" style="display:none">
        <h1>I can easily view, share and analyse Ramses measurements with Lemon Pie<sup>*</sup></h1>
    </div>
    <a href="#" class="pull-right">More...<a>
    </div>
</div>
<!-- ******** END HYPESHIZZLE ******* -->
<!-- ******** KAART ******* -->
<div class="row">
    <div class="span12">
        <a id="informationtoggle" class="btn">Informations</a>
    </div>
</div>
<div class="row spacer">
    <div id="mapcontainer" class="span12">
            <div id="map"></div>
    </div>
    <div id="information" class="span4" style="display:none">
        <h2>Available Layers</h2>
        {% for layername in layers %}
        <h3>{{ layername }} </h3>
        <dl class="dl-horizontal">
            {% for key, value in layers[layername]['metadata'].iteritems() %}
            <dt>{{ key }}:</dt><dd> {{ value }}</dd>
            {% endfor %}
        </dl>
        {% endfor %}
    </div>
</div>
<!-- ******** END KAART ******* -->
<div id="content-footer" class="row spacer">
    <div class="span12">
        <p class="muted">Lemonpie</p>
    </div>
</div>
<script type="text/javascript">
    var layers = '{{ layers|tojson|safe }}'
</script>
{% endblock %}
