{% extends "base.html" %}
{% block content %}
<div class="row spacer">
    <div class="span12">
        <h1>Lemon Pie<sup>*</sup></h1>
        <p class="lead">data analysis for humans</p>
    </div>
</div>
<!-- ******** HYPESHIZZLE ******* -->
<div id="hypeshizzle" class="row">
    <div id="stories" class="span6">
        <ul class="thumbnails">
          <li class="span2">
            <a href="#" class="thumbnail">
              <img class="imgthumb" src="http://placehold.it/170x140" alt="">
            </a>
          </li>
          <li class="span2">
            <a href="#" class="thumbnail">
              <img class="imgthumb" src="http://placehold.it/170x140" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb" src="http://placehold.it/70x55" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img src="http://placehold.it/70x55" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb" src="http://placehold.it/70x55" alt="">
            </a>
          </li>
          <li class="span1">
            <a href="#" class="thumbnail">
              <img class="imgthumb" src="http://placehold.it/70x55" alt="">
            </a>
          </li>
        </ul>
    </div>
    <div class="span6">
        <h3>STORY HERE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam arcu libero, euismod et egestas non, convallis sed massa. In varius scelerisque ante, et aliquam felis imperdiet tincidunt. Donec ipsum lacus, varius at venenatis ut, dapibus in metus. Nunc posuere ornare nunc, et tincidunt lorem mollis id. Curabitur adipiscing eleifend imperdiet.</p>
    </div>
</div>
<!-- ******** END HYPESHIZZLE ******* -->
<!-- ******** KAART ******* -->
<div class="row">
    <div class="span12">
        <a id="informationtoggle" class="btn">Informations</a>
    </div>
</div>
<div class="row spacer">
    <div id="mapcontainer" class="span12">
            <div id="map"></div>
    </div>
    <div id="information" class="span4" style="display:none">
        <h2>Available Layers</h2>
        {% for layername in layers %}
        <h3>{{ layername }} </h3>
        <dl class="dl-horizontal">
            {% for key, value in layers[layername]['metadata'].iteritems() %}
            <dt>{{ key }}:</dt><dd> {{ value }}</dd>
            {% endfor %}
        </dl>
        {% endfor %}
    </div>
</div>
<!-- ******** END KAART ******* -->
<div id="content-footer" class="row spacer">
    <div class="span12">
        <p class="muted">Lemonpie</p>
    </div>
</div>
<script type="text/javascript">
    var layers = '{{ layers|tojson|safe }}'
</script>
{% endblock %}
