/*importeer css */
@import "bootstrap.min.css";
@import "extra.css";
@import "../js/lib/theme/default/style.css";

/*
 * LemonPie styles
 */

#toolbar {
    background-color: #EEE;
}

/*
 * Boostrap overrides / additions
 */

.imgthumb:hover {
    opacity: 0.7;
}

.nav li.disabled a {
    color: #999;
    pointer-events: none;
}

.navbar, .page-header {
    padding-bottom: 0px;    
    margin-bottom: 5px;    
}

.spacer {
    margin-top: 20px;
}

.nomargin {
    margin-left: 0px;    

}

/* 
 * Openlayers styles
 */
#map {
    height: 400px;
    width: 940px;
}

.map img {max-width:none;}
